apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb-deployment
  namespace: dev
  labels:
    app: mariadb
spec:
  replicas: 3
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - mariadb
            topologyKey: "kubernetes.io/hostname"      
      containers:
      - name: mariadb
        image: mariadb:latest
        volumeMounts:
          - name: mariadb-config-volume
            mountPath: /etc/mysql/mariadb.conf.d/50-server.cnf
            subPath: 50-server.cnf
        env:
        - name: MARIADB_DATABASE
          valueFrom:
            secretKeyRef:
              name: mariadb-secret
              key: MARIADB_DATABASE  # mariadb database name from secret
        - name: MARIADB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mariadb-secret
              key: MARIADB_ROOT_PASSWORD
        ports:
        - containerPort: 3306
      volumes:
        - name: mariadb-config-volume
          configMap:
            name: migration-config
            items:
              - key: 50-server.cnf
                path: 50-server.cnf
---
apiVersion: v1
kind: Service
metadata:
  name: mariadb-service
  namespace: dev
spec:
  selector:
    app: mariadb
  ports:
    - port: 3306
      targetPort: 3306