apiVersion: v1
kind: ConfigMap
metadata:
  name: migration-config
  namespace: dev
data:
  DB_HOST: mariadb-service.dev.svc.cluster.local
#  DB_HOST_SPRING: jdbc:mariadb://mariadb-service.dev.svc.cluster.local
  DB_PORT: "3306"
  # Le nom de la base est ici car ce n’est pas une donnée sensible
  DB_NAME: magasin
  50-server.cnf: |
    [mysqld]
    bind-address = 0.0.0.0
